<footer class="footer">
  <div class="footer__wrapper">

    <div class="footer__content">
      <p><b>北京林业大学信息学院（人工智能学院）</b> / 北京市海淀区清华东路35号, 邮编 100083</p>
      <p><b>电话:</b><a href="tel:010-62337273"> 010-62337273</a> / <b>传真:</b><a href="tel:010-62337273"> 010-62337273</a></p>
      <p><b>Email: </b><a href="mailto:{{site.contact.email}}">{{site.contact.email}}</a></p>
      <p>© 2018 北京林业大学LION实验室</p>
      <div style="width:300px;margin:0 auto; padding:0px 0;">

      

    <ul class="social-icons social-icons--footer">

              <li class="social-icons__item">
          <a class="social-icons__link" href="{{site.contact.weixin}}">
            <img src="https://png.icons8.com/ios/24/000000/weixing-filled.png" width="24px" height="20px">
              <use xlink:href="#icon-wechat"></use>
            </svg>
          </a>
        </li>
              <li class="social-icons__item">
          <a class="social-icons__link" href="{{site.contact.weibo}}">
            <img src="https://png.icons8.com/ios/24/000000/weibo-filled.png" width="24px" height="20px">
              <use xlink:href="#icon-weibo"></use>
            </svg>
          </a><!--
          <a href="https://icons8.com">Icon pack by Icons8</a>-->
        </li>
        <li class="social-icons__item">
    <a class="social-icons__link" href="https://www.linkedin.com/">
      <img src="https://png.icons8.com/ios/24/000000/linkedin-filled.png" width="24px" height="20px">
        <use xlink:href="#icon-linkedin"></use>
      </svg>
    </a><!--
    <a href="https://icons8.com">Icon pack by Icons8</a>-->
  </li>

    </ul>

  </div>
<script src="{{site.url}}/assets/js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
</footer>
